/* Just to make button look a little bit better */

.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: white;
    padding: 16px 32px;
    min-width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: auto;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}

#button-to-hide {
    color: #555555;
    border: 2px solid #555555;
}

#button-to-hide:hover {
    background-color: #555555;
    color: white;
}

#button-to-repeat {
    color: #4CAF50;
    border: 2px solid #4CAF50;
    display: none;
}

#button-to-repeat:hover {
    background-color: #4CAF50;
    color: white;
}
